.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.loader {
  animation: spin 1s linear infinite;
}

.small {
  width: 14px;
  height: 14px;
}

.medium {
  width: 24px;
  height: 24px;
}

.large {
  width: 32px;
  height: 32px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}