@use "@/shared/styles" as *;

.main {
  margin: 75px 24px 0px 24px;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.games {
  width: 844px;
  min-width: 0;
}

.filters {
  width: 412px;
  min-width: 0;
}

@include desktop {
  .content {
    flex-direction: column;
    gap: 16px;
  }

  .filters {
    width: 100%;
    min-width: 0;
    order: 1;
  }

  .games {
    width: 100%;
    order: 2; // перемещаем список игр вниз
  }
}