@use "@/shared/styles" as *;

.main {
  margin: 75px 1.5rem 0 1.5rem;
  @include desktop {
    margin: 1.5rem;
  }
}

.content {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

.games {
  width: 844px;
  min-width: 0;
}

.filters {
  width: 412px;
  min-width: 0;
}

@include desktop {
  .content {
    flex-direction: column;
    gap: 1rem;
  }

  .filters {
    width: 100%;
    min-width: 0;
    order: 1;
  }

  .games {
    width: 100%;
    order: 2; // перемещаем список игр вниз
  }
}