@use "@/shared/styles/index" as styles;

.button {
  width: 100%;
  height: 64px;
  padding: 10px;
  background-color: styles.$palette_yellow;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover:not(:disabled) {
    background-color: styles.$palette_yellow;
  }

  &:disabled {
    opacity: 0.5;
  }
}