@use "@/shared/styles" as *;

.list {
  width: 100%;
  display: grid;
  gap: clamp(4px, 2vw, 20px);
  &[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  &[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }

  &[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }

  @include desktop {
    margin-top: 200px;
  }

  @include mobile {
    &[data-columns="3"],
    &[data-columns="4"] {
      grid-template-columns: repeat(2, 1fr);
    }
    .list{ 
      gap: 20px;
    }
  }
}

.error {
  color: $tech_error;
  text-align: center;
  padding: 20px;
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(227,227,227,1) 0%,
    rgba(241,241,241,1) 50%,
    rgba(227,227,227,1) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}
