@use "@/shared/styles" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.resetMenu {
  display: flex;
  justify-content: space-between;
}

@include mobile {
  .container {
    display: none;
  }

  .container.isVisible {
    display: flex;
    position: absolute;
    top: 100%;
    background: white;
    padding: 32px;
    left: -1px;
    right: -1px;
    width: calc(100% + 2px);
    border: 1px solid $blacks_50;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}