@use "@/shared/styles" as *;

.filters {
  width: 100%;
  height: fit-content;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid $blacks_50;
  border-radius: 8px;
}

.showSwitch {
  display: none;
}

@include mobile {
  .filters {
    position: relative;
    z-index: 100;
    padding: 32px 0;
  }

  .showSwitch {
    display: flex;
    align-self: center;
    background-color: $blacks_light;
    gap: 8px;
    align-items: center;
    color: $tech_links;
    cursor: pointer;
    font-size: 16px;
  }

  .burgerIcon {
    width: 14px;
    height: 14px;
  }
}
