@use "@/shared/styles" as *;

.filters {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid $blacks_50;
  border-radius: 8px;

  @include desktop {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 46px);
    background: $blacks_light;
    z-index: 100;
  }
}

.showSwitch {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
    background-color: $blacks_light;
    color: $tech_links;
    cursor: pointer;
    font-size: 1rem;
    order: 1;
  }
}

@include desktop {
  .burgerIcon {
    width: 14px;
    height: 14px;
  }
}
