@use "@/shared/styles" as *;

.logoutButton {
  display: flex;
  align-items: center;
  color: $tech_error;
  background: transparent;
}

.profileIcon {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}