@use "@/shared/styles" as *;

.resetButton {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 4px;
  background: none;
  text-align: left;
  cursor: pointer;
  color: $blacks_semi;

  &:hover {
    color: $blacks_dark;
    box-shadow: 0px 0px 4px 0px $blacks_semi;
  }

  &:active {
    background-color: $blacks_25;
    color: $blacks_dark;
    transform: scale(0.95);
    box-shadow: 0px 0px 4px 0px $blacks_semi;

  }
}