@use "@/shared/styles/index" as styles;

.layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: styles.$blacks_50;
}

.container {
  width: 412px;
  height: 362px;
  display: flex;
  gap:40px;
  flex-direction: column;
  align-items: center;
  background-color: styles.$blacks_light;
  border-radius: 4px;
}

.logo {
  display: block;
  width: 70px;
}