@use "@/shared/styles" as *;

$track-padding: 8px;

.selector {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: $blacks_semi;
}

.track {
  height: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    left: $track-padding;
    right: $track-padding;
    height: 100%;
    background: $blacks_50;
    border-radius: 7.5px;
  }
}

.fill {
  position: absolute;
  left: $track-padding;
  right: $track-padding;
  top: 0;
  height: 100%;
  background: $palette_yellow;
  border-radius: 7.5px;
  transition: width 0.2s ease;
  width: auto;
  max-width: calc(100% - #{$track-padding * 2});
}

.button {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background: $blacks_50;
  color: $blacks_dark;
  font-size: 14px;
  cursor: pointer;
  transform: translateY(-20%);
  position: relative;
  z-index: 1;

  &[data-active="true"] {
    background: $palette_yellow;
  }
}

@include mobile {
  .selector {
    display: none;
  }
}