@use "@/shared/styles" as *;

.title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: $blacks_semi;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 40px;
}

.button {
  padding: 5px 10px;
  border-radius: 4px;
  background: none;
  text-align: left;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    background: $palette_yellow;
  }

  &.active {
    background: $palette_yellow;
  }
}