@use "@/shared/styles" as *;

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 82px;

  @include mobile {
    padding: 0 1.5rem;
  }
}

.logo {
  display: block;
  width: 70px;
}
