@use "@/shared/styles" as *;

.input {
  width: 100%;
  height: 64px;
  padding: 8px 12px;
  border: 1px solid $blacks_50;
  border-radius: 4px;
  font-size: 14px;

  &:focus {
    outline: none;
    border-color: $blacks_semi;
  }

  &::placeholder {
    color: $blacks_semi;
  }
}